srcback/main/resources/META-INF/dc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
        xmlns="http://www.lh.com/schema/myns"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://www.lh.com/schema/myns"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans" />

    <xsd:element name="app">
        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="type" type="xsd:string"></xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="table">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="1">
                <xsd:element name="column">
                    <xsd:complexType>
                        <xsd:attribute name="local" type="xsd:string" use="required"></xsd:attribute>
                        <xsd:attribute name="remote" type="xsd:string" use="required"></xsd:attribute>
                        <xsd:attribute name="key" type="xsd:boolean" use="required"></xsd:attribute>
                        <xsd:attribute name="groupType" type="xsd:string" use="required"></xsd:attribute>
                        <xsd:attribute name="group" type="xsd:string" use="required">
                            <xsd:annotation>
                                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="type" type="xsd:string" use="required"></xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="local" type="xsd:string" >
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>

            <xsd:attribute name="remote" type="xsd:string" >
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>